@font-face {
  font-family: 'Roboto';
  src: url('./fonts/static/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/static/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}
